/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

.Bg-New
{
    background-color: #007bff6e;
}

.table th, .table td
{
    text-align: center;
    
}
h4
{
    text-align: center;
    padding: 10px 0;
}
.Logo
{
    width: 65px;;
}
@media screen and (max-width:767px)
{
.table th, .table td
{
    text-align: center;
    font-size: 12px;
}
}