<div class="header">
    <div class="col-sm">
      <h4>List of Employees</h4>
    </div>
  </div>
  
  <div class="">
    <div class="col-sm list-action-button">
      <a href="#" routerLink="add" class="btn btn-link float-right fa fa-file fa-lg action-label">Add New</a>
    </div>
  </div>
  
  <div class="content">
    <div class="col-sm-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Salery</th>
            <th scope="col">Designation</th>
            <th scope="col">Department</th>
            <th scope="col">Deduction</th>
            <th scope="col">Years of Experience</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Employe of Employees | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ Employe.name }}</td>
            <td>{{ Employe.salery }}</td>
            <td>{{ Employe.designation.name }}</td>
            <td>{{ Employe.department.name }}</td>
            <td>{{ Employe.deduction }}</td>
            <td>{{ Employe.experience }}</td>
            <td><button class='fa fa-eye' (click)='viewProduct(Employe)' ></button></td>
            <td><button class='delete-label fa fa-trash-o' (click)='deleteProduct(Employe)' ></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
